      <div class="col-xs-3">
        <h2>User info</h2>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr>
              <th><%= attachment_image_tag @user, :profile_image, :fill, 80, 80, class: "pull-left profile-thumb", fallback: "no_image.jpg" , size:'80x80' %></th>
              <th></th>
            </tr>
            <tr>
    	        <td>name</td>
    	        <td><%= @user.name %></td>
            </tr>
            <tr>
    	        <td>introduction</td>
    	        <td><%= @user.introduction %></td>
            </tr>
          </tbody>
        </table>
        <div>
          <%= link_to edit_user_path(@user.id) do %>
            <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
          <% end %>
        </div>
        <h2>New book</h2>
        <!-- form_for部分 -->
        <%= form_for(@book, url: '/books') do |f| %>

            <div class="field">
                <%= f.label :title, :class => 'book_title' %><br>
                <%= f.text_field :title, :class => 'book_title' %>
            </div>
            <div class="field">
                <%= f.label :opinion, :class => 'book_body' %><br>
                <%= f.text_area :body, :class => 'book_body' %>
            </div>
            <%= f.hidden_field :user_id, :value => @user.id %>
            <div class="actions">
                <%= f.submit 'Create Book', :class => 'btn btn-primary btn-block' %>
            </div>

        <% end %>
      </div>
