<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li><span class="glyphicon glyphicon-home home">
                <%= link_to ' Home', "/" %></span></li>
              <li><span class="glyphicon glyphicon-user user">
                <%= link_to ' Users', users_path %></span></li>
              <li><span class="glyphicon glyphicon-book book">
                <%= link_to ' Books', books_path %></span></li>
              <li><span class="glyphicon glyphicon-log-out logout" aria-hidden="true">
                <%= link_to " logout", destroy_user_session_path, method: :delete %></span></li>
              <% else %>
              <li><span class="glyphicon glyphicon-home home">
                <%= link_to ' Home', "/" %></span></li>
              <li><span class="glyphicon glyphicon-link about">
                <%= link_to ' Abouut', "#" %></span></li>
              <li><span class="glyphicon glyphicon-edit sign_up">
                <%= link_to " sign up", new_user_registration_path %></span></li>
              <li><span class="glyphicon glyphicon-log-in sign_in">
                <%= link_to " login", new_user_session_path %></span></li>
              <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </body>

  <footer>
      <div class="container">
          <div class="row">
    	      <div class="col-xs-3 col-xs-offset-9">
    		      <p>CopyRight Infratop.inc</p>
    	      </div>
          </div>
      </div>
  </footer>

</html>
