
  <div class="container">
    <div class="row">

      <%= render :partial => "users/sidebar" %>

      <div class="col-xs-9">

        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th><h2>Book detail</h2></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td><%= attachment_image_tag @user, :profile_image, :fill, 30, 30, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" , size:'30x30' %></td>
                <td><%= book.title %></td>
                <td><%= book.opinion %></td>
                <td><%= link_to "Show", book_path(book.id), :class => "show_#{book.id}" %></td>
                <td><%= link_to "Edit", edit_book_path(book.id), :class => "edit_#{book.id}"  %></td>
                <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are You Sure?", :class => "destroy_#{book.id}" %></td>
              </tr>
              <tr>
                <td><%= link_to @user.name, user_path(@user.id), :class => "show_#{@user.id}" %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
